/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 22, 2016, 8:48:56 AM
    Author     : Landon
*/

body{
    background-color: rgb(255, 250, 240);
    font-family: Veranda, Geneva, sans-serif;
    display: block;
}

.header{
    font-family: Veranda, Geneva, sans-serif;
    font-size: 2.5em;
    color: rgba(10,10,10, 0.9);
    text-align: center;
    background-color: inherit;
}
.header a{
    text-decoration: none;
    color: inherit;
}

hr{
    width: 75%;
}

.button1{
    background-color: rgba(0,0,0,0.05);
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
    color: black;
    font-size: 18px;
    transition: 0.2s ease-out;
    text-decoration: none;
    margin: 5px;
}


.button1:hover{
    transition: 0.2s ease-out;
    background-color: rgba(15, 15, 15, .9);
    color: white;
}

.navbar{
    background-color: rgba(5,5,5,.85);
    border-radius: 3px;
    display: block;
    padding: .5em;
    box-sizing: border-box;
    text-align: left;
}

.navbar a{
    color: white;
    transition: 0.2s ease-out;
    text-decoration: none;
    font-size: 1.5em;
    padding: 2.5%;
}
@media only screen and (max-width: 768px){
    /* For mobile */
    .navbar{
        background-color: inherit;
    }
    .navbar a{
        background-color: rgba(5,5,5,.85);
        width: 100%;
        border-radius: 3px;
        display: block;
        padding: .2em;
        padding-left: 1.2em;
        margin: .5%;
    }
    .navbar a:after{
        content: "";
        clear: both;
        display: block;
        
    }
    .navbar a:last-child:after{
        content: none;
    }
}

.navbar a:hover{
    color: firebrick;
    transition: 0.2s ease-out;
}
